/* * {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  } */
  
  html {
    font-family: "Lucida Sans", sans-serif;
  }

  body {
    height: 100vh;
  }
  
  .grid-container {
    display: grid;
    height: 100%;
    grid-template-rows:1fr 3fr minmax(50px 200px) ;
  }

  .main {
    display: grid;
    grid-template-columns:1fr 3fr 1fr ;
  }


  .header {
    background-color: #d4450c;
    color: #ffffff;
    padding: 15px;

  }

  .img1 {
    display: grid;
    height: (100px 120px)
  }
  
  @media only screen and (max-width: 600px) {
    
    grid-template-columns auto auto auto auto auto;
  }
  


  /* .main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .main li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #0099cc;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  
  .main li:hover {
    background-color: #0099cc;
  }
  
  .aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  } */
  
  .footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }
  
 /*  [class*="col-"] {
    width: 100%;
  } */
  
  /* @media only screen and (min-width: 600px) {

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  } */













    /* font-family: "Lucida Sans", sans-serif;
}

* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  } */
  
  

/* 
.row::after {
    content: "";
    clear: both;
    display: table;
  

}
.row {
    min-height: 600px;
    
}


[class*="col-"] {
    float: left;
    padding: 10px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} */
 


/* For mobile phones: */
/*[class*="col-"] {
    width: 100%;
  }
  
 

.container {
    display: grid;
    grid-template-rows:250px 250px ;
    grid-template-columns:150px auto 150px;
    grid-template-areas:
        
        "A B F"
        "A B F"


}

.row{
    background: darkseagreen;
    grid-area: A;
}

.main{
    background: darkgoldenrod;
    grid-area: B;
}

.aside {
    
    background: darkcyan;
    grid-area: F;
}

.header {
    background-color:#3498db;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}
    
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.nav li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.nav li:hover {
    background-color: #0099cc;
}

.footer {
    background-color:#3498db;
    color: #ffffff;
    padding: 5px;
    text-align: center;

    /* For tablets: */





